.contact-heading{
    text-align: center;
    margin: 120px 0 60px;
}

.contact-heading h1{
    font-size: 3.5rem;
    font-weight: 800;
    color: #111827;
}

.contact-heading h1::after{
    content: "";
    display: block;
    width: 80px;
    height: 5px;
    background: #2563eb;
    margin: 12px auto;
    border-radius: 20px;
}

/* Layout */

.contact-container{
    width: 90%;
    max-width: 1300px;
    margin: auto;

    display: grid;
    grid-template-columns: 1.3fr 1fr;
    gap: 40px;
}

/* Form */

.contact-form-box{
    background: white;
    padding: 40px;
    border-radius: 25px;

    box-shadow:
    0 10px 30px rgba(0,0,0,0.08);
}

.contact-form{
    display: flex;
    flex-direction: column;
}

.contact-form label{
    font-weight: 600;
    color: #111827;
    margin-bottom: 8px;
}

.contact-form input,
.contact-form textarea{
    padding: 15px;
    border: 1px solid #e5e7eb;
    border-radius: 12px;

    margin-bottom: 20px;

    font-size: 1rem;
    outline: none;

    transition: 0.3s;
}

.contact-form input:focus,
.contact-form textarea:focus{
    border-color: #2563eb;
}

.contact-form textarea{
    min-height: 150px;
    resize: vertical;
}

.contact-form button{
    padding: 15px;
    border: none;

    background: #2563eb;
    color: white;

    font-size: 1rem;
    font-weight: 600;

    border-radius: 12px;
    cursor: pointer;

    transition: 0.3s;
}

.contact-form button:hover{
    transform: translateY(-3px);

    box-shadow:
    0 10px 25px rgba(37,99,235,0.25);
}

/* Info Box */

.contact-info{
    background: white;
    padding: 40px;
    border-radius: 25px;

    box-shadow:
    0 10px 30px rgba(0,0,0,0.08);

    height: fit-content;
}

.contact-info h3{
    font-size: 1.8rem;
    color: #111827;
    margin-bottom: 30px;
}

.info-item{
    margin-bottom: 25px;
}

.info-item h5{
    color: #2563eb;
    font-size: 1rem;
    margin-bottom: 6px;
}

.info-item p{
    color: #6b7280;
}

.social-links{
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

.social-links a{
    text-decoration: none;

    background: #eff6ff;
    color: #2563eb;

    padding: 10px 16px;
    border-radius: 12px;

    font-weight: 600;

    transition: 0.3s;
}

.social-links a:hover{
    background: #2563eb;
    color: white;
}

/* Mobile */

@media(max-width: 900px){

    .contact-container{
        grid-template-columns: 1fr;
    }

    .contact-heading h1{
        font-size: 2.7rem;
    }

    .contact-form-box,
    .contact-info{
        padding: 25px;
    }
}