.skills-heading{
    text-align: center;
    margin-top: 120px;
    margin-bottom: 60px;
}

.skills-heading h1{
    font-size: 3.5rem;
    font-weight: 800;
    color: #111827;
}

.skills-heading h1::after{
    content: "";
    display: block;
    width: 80px;
    height: 5px;
    background: #2563eb;
    margin: 12px auto;
    border-radius: 20px;
}

.skills-container{
    width: 90%;
    max-width: 1300px;
    margin: auto;

    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(220px,1fr));
    gap: 30px;
}

.skill-card{
    background: white;
    padding: 35px 20px;

    border-radius: 25px;

    text-align: center;

    box-shadow:
    0 10px 30px rgba(0,0,0,0.08);

    transition: all 0.4s ease;
}

.skill-card:hover{
    transform: translateY(-12px);

    box-shadow:
    0 20px 45px rgba(37,99,235,0.18);
}

.skill-card img{
    width: 80px;
    height: 80px;
    object-fit: contain;

    margin-bottom: 15px;

    transition: 0.4s ease;
}

.skill-card:hover img{
    transform: scale(1.15);
}

.skill-card p{
    font-size: 1.1rem;
    font-weight: 700;
    color: #111827;
}

@media(max-width:768px){

    .skills-heading h1{
        font-size: 2.5rem;
    }

    .skill-card img{
        width: 65px;
        height: 65px;
    }
}