.projects-heading {
    text-align: center;
    margin: 120px 0 60px;
}

.projects-heading h1 {
    font-size: 3.5rem;
    font-weight: 800;
    color: #111827;
}

.projects-heading h1::after {
    content: "";
    display: block;
    width: 80px;
    height: 5px;
    background: #2563eb;
    margin: 12px auto;
    border-radius: 20px;
}

/* Container */

.projects-container {
    width: 90%;
    max-width: 1300px;
    margin: auto;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
    gap: 35px;
}

/* Card */

.project-card {
    background: #ffffff;
    border-radius: 25px;
    overflow: hidden;

    border: 1px solid rgba(50, 5, 252, 0.05);

    box-shadow:
        0 10px 30px rgba(4, 153, 246, 0.08);

    transition: all 0.35s ease;
}

.project-card:hover {
    transform: translateY(-20px);

    box-shadow:
        0 20px 40px rgba(3, 93, 248, 0.12);
}

.project-card a {
    text-decoration: none;
    display: block;
}

/* Image */

.project-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    border-bottom: 1px solid #f1f5f9;
}

/* Badge */

.project-badge {
    display: inline-block;

    margin: 20px 25px 0;

    background: #eff6ff;
    color: #2563eb;

    padding: 8px 14px;
    border-radius: 30px;

    font-size: 0.85rem;
    font-weight: 600;
}

/* Title */

.project-card h2 {
    font-size: 1.4rem;
    font-weight: 700;

    color: #111827;

    padding: 20px 25px 10px;
}

/* Description */

.project-card p {
    color: #6b7280;
    line-height: 1.7;

    padding: 0 25px 25px;
}

/* Mobile */

@media (max-width: 768px) {

    .projects-heading h1 {
        font-size: 2.7rem;
    }

    .projects-container {
        grid-template-columns: 1fr;
    }

 .project-card img {
         height: 100%; 
    } 
} 